/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   IE fixes
   ========================================================================== */

html.lt-ie9 {
    &.standards_index,
    &.index {
        body {
            background-image: none;
            background-color: #00a9a5;
        }
    }
    
    .hashtag {
        top: 40px;
        right: 30px;
    }
}
