---
title: Standards - Guiding Principles
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <% data.guiding_principles.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <a href="<%= @baseurl %>/standards/introduction" class="previous"><span>Previous:</span> Introduction</a>
    <a href="<%= @baseurl %>/standards/regulatory-scope" class="next"><span>Next:</span> Regulatory Scope</a>
</article>
