---
title: Standards - Integrity
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <% data.integrity.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <a href="<%= @baseurl %>/standards/participation-access" class="next">Next: Participation and Access</a>
</article>
