---
title: Standards - Introduction
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <section class="introduction">
        <h2>Introduction</h2>
        <div>
            <%= partial "introduction" %>
        </div>
    </section>
    <a href="<%= @baseurl %>/standards/guiding-principles" class="next"><span>Next:</span> Guiding Principles</a>
</article>
