---
title: Standards - Oversight, Management and Sanctions
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <% data.oversight.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <a href="<%= @baseurl %>/standards/regulatory-framework" class="next">Next: Regulatory Framework Design</a>
</article>
