---
title: Standards - Oversight, Management and Sanctions
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <% data.oversight.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <a href="<%= @baseurl %>/standards/participation-access" class="previous"><span>Previous:</span> Participation and Access</a>
    <a href="<%= @baseurl %>/standards/regulatory-framework" class="next"><span>Next:</span> Regulatory Framework Design</a>
</article>
