---
title: Standards - Regulatory Framework Design
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <% data.framework.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <a href="<%= @baseurl %>/standards/oversight-management-sanctions" class="previous"><span>Previous:</span> Oversight, Management and Sanctions</a>
</article>
