---
title: Standards - Regulatory Scope
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <% data.regulatory_scope.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <a href="<%= @baseurl %>/standards/transparency" class="next">Next: Transparency</a>
</article>
