---
title: Standards - Transparency
---
<div class="page-header">
    <%= partial "header" %>
</div>

<article>
    <% data.transparency.content.each do |sec| %>
        <%= partial(:standard_section, :locals => { :s => sec }) %>
    <% end %>
    <a href="<%= @baseurl %>/standards/regulatory-scope" class="previous"><span>Previous:</span> Regulatory Scope</a>
    <a href="<%= @baseurl %>/standards/integrity" class="next"><span>Next:</span> Integrity</a>
</article>
