<nav class="menu">
    <div class="toggle-menu">
      <span>toggle menu</span>
    </div>
    
    <ul>
        <li><a href="<%= @baseurl %>/">Home</a></li>
        <li><a href="<%= @baseurl %>/standards">Standards</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/lobbying-transparency" rel="external">Discussion Forum</a></li>
    </ul>
</nav>

<header>
   <h1>International standards for lobbying regulation</h1>
   <p>Towards greater transparency, integrity and participation.</p>
</header>
<a class="hashtag" href="https://twitter.com/home?status=International standards for lobbying regulation %23lobbyingtransparency" target="_blank">#lobbyingtransparency</a>
