---
title: International standards for lobbying regulation
attribution: '&copy; Cover photo: Transparency International Lithuania'
---

<div class="hero">
    <article>
        <div>
            <%= partial "header" %>
            <p>The International Standards for Lobbying Regulation are the result of two years of collaborative work with civil society led by <strong>Transparency International</strong>, <strong>Access Info Europe</strong>, <strong>Sunlight Foundation</strong>, <strong>ALTER-EU</strong> and <strong>Open Knowledge</strong>. This initiative is unique in that it draws on the experience of a broad coalition of civil society organisations active in the field of lobbying transparency and open governance, and goes further than existing regulations and standards. The Standards aim at providing clear guidance to policymakers, governments and international organisations that are thinking of or are in the process of enacting lobbying legislation. They also serve as a reference point for civil society organisations to campaign in their countries to ensure that efforts to regulate lobbying are robust, comprehensive and effective.</p>
            <a href="standards">Read the standards</a> &nbsp; <a href="https://groups.google.com/forum/#!forum/lobbying-transparency" rel="external">Join the discussion</a>
        </div>
    </article>
</div>
